* {
  box-sizing: border-box;
  font-family: "arial";
}

/*
body {
  display: grid;
  grid: [header-start] "header" auto [header-end]
        [main-start] "main" auto [main-end]
        [footer-start] "footer" auto [footer-end]
        / max-content;
  justify-items: center;
  background-color: #03a3df;
}
*/

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #03a3df;
}
header, main, footer {
  width: 90rem;
}
/*
header {
  display: grid;
  grid: [row1-start] "topbox" 18rem [row1-end]
        [row2-start] "address-bar" 2rem [row2-end]
        / 100%;
  background-color: #444444;
  box-shadow: -5px 10px #000000;
}
*/
header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  background-color: #03a3df;
  background-image: url("../images/header-grass.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  /*box-shadow: -5px 10px #000000;*/
  height: 27rem;
}
nav {

}

address {

}

main {
  background-color: white;
  box-shadow: -5px 10px #000000;
  padding-bottom: 2rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 2em;
}
h1 {
  font-size: 4rem;
  margin: 0px;
  color: #ecb722;
}
a, p, h2 {
  text-align: center;
  text-decoration-line: none;
}

section h2 {
  font-size: xx-large;
  margin: 0px;
}

section > p {
  font-size: larger;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "arial"
}

footer {
  background-image: url("../images/footerImage.jpg");
  display: grid;
  grid: "logo cards" 1fr
        "disc cards" 1fr
        / 1fr 1fr;
  box-shadow: -5px 10px #000000;
  text-decoration-line: none;
}
footer > img:first-of-type {
  grid-area: logo;
  align-self: center;
  justify-self: center;
}
footer > p:first-of-type {
  grid-area: disc;
  color: white;
}
@media screen and (max-device-width: 1400px) {
  header, main, footer {
    max-width: 100%;
  }
}
/*
.header-top-box {
  grid-area: topbox;
  display: grid;
  grid: [row1-start] ". card2 card1 card3 ." 17rem [row1-end]
        / auto 1fr 1fr 1fr auto;
  justify-items: center;
  align-items: end;
}
*/
.affiliates-list {
  grid-area: cards;
  align-items: center;
}
.affiliates-list .nav-card > p:first-of-type {

}
.affiliates-list .nav-card > p:nth-of-type(2) {
  font-size: small;
}
.header-top-box, .affiliates-list {
  width: auto;
  height: 22rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: end;
}
.card {
 border: 5px ridge #ecb722;
 border-radius: 10px;
}
/*Put <p> on bottom in description box. Logo on top*/
.nav-card {
  display: flex;
  flex-flow: column nowrap;
  margin: .5rem .5rem;
  margin-bottom: .5rem;
  background-image: url('../images/cardbg-textured.png');
  background-position: top;
  border: 4px ridge #ecb722;
  opacity: .85;
  transition: margin-bottom .0625s;
  width: 10rem;
  height: 15rem;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  text-decoration-line: none;
}

.nav-card:hover {
  margin-bottom: 1.5rem;
}

.nav-card > p {
  color: #ecb722;
  font-size: 2.5rem;
  margin: 0rem;
  text-decoration-line: none;
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.card4 {
  grid-area: card4;
}

.header-middle-bar {
  display: flex;
  text-align: center;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2em;
  flex-shrink: 0;
  box-shadow: -5px 10px #000000
}

.header-top-box a, .address-bar a {
  text-decoration-line: none;
  font-style: normal;
  color: black;
}
/*
.address-bar a::before {
  content: " * ";
  text-decoration-line: none;
}

.address-bar a:first-of-type::before {
  content: "";
}
*/

.fa-bullseye {
  color: #ecb722;
}
.top-section {

}
/*
.welcome {
  display: grid;
  grid: ". img1 . para1 para1 para1." 1fr
        ". para2 para2 para2 . img2 ." 1fr
        / 1fr 1fr .125fr 1fr .125fr 1fr 1fr;
  font-size: larger;
}
*/
.box-shadow-small {
  box-shadow: -5px 5px;
}
.round {
  border-radius: 50%;
  shape-outside: circle();
}
.welcome {
/*  display: flex;*/
  width: 80%;
}
.welcome > p:first-of-type {
  grid-area: para1;
  text-align: justify;
  font-size: x-large;
}
.welcome > img:first-of-type {
  grid-area: img1;
  float: left;
  margin-right: 2em;
  box-shadow: -5px 5px;
}
/*
.classes {
  align-items: normal;
}
*/
.class-top-section {
  /*
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  */
  width: 80%;
}
.class-top-section > p:nth-of-type(1) {
  grid-area: para2;
  text-align: justify;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: x-large;
}
/*
.class-top-section > div:nth-of-type(1) {
  grid-area: img2;
  border-radius: 50%;
  float: right;
  width: 200px;
  height: 200px;
  background-image: url("../images/lineup-xsmall.png");
  background-origin: content-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
*/
.class-top-section > img:nth-of-type(1) {
  grid-area: img2;
  float: right;
  width: 200px;
  height: 200px;
  margin-left: 2em;
  box-shadow: -5px 5px;
}
.top-article {

}

.signup-section {

}

.signup-form {
  background-color: #ecb722;
  box-shadow: -5px 10px #000000;
  padding: 1rem;
  width: 80rem;
}
@media screen and (max-device-width: 1440px) {
  .signup-form {
    width: 100%;
  }
}
.form-label {

}

.form-text {

}

.form-select {

}

.form-required-label {

}

.form-required-text {

}

.form-required-select {

}


/*
.class-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 30em));
  grid-gap: 2rem;
  justify-content: center;
}
*/
.class-list, .staff-list {
  display: grid;
  grid: "card1 card2" auto
        "card3 card4" auto
        / minmax(20em, 30em) minmax(20em, 30em);
  grid-gap: 2rem;
  justify-content: center;
}
@media screen and (max-device-width: 1400px) {
  .class-list, .staff-list {
    grid-gap: 1px;
  }
}
@media screen and (max-device-width: 1400px) {
  .class-list, .staff-list {
    grid-gap: 1px;
  }
}
.card-section {

}
/*
.class-card {
  display: grid;
  grid: "level level . time time" 1.25fr
        "name name name name name" 4fr
        "days days days days days" 2.5fr
        "img img img img img" 10fr
        "desc desc desc desc desc" 14fr
        "price price price signup signup" 4fr
        / 1fr 1fr 1fr 1fr 1fr;
  background-image: url('../images/cardbg-textured.png');
  background-size: 100% 100%;
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
}
*/
/*
.class-card, .staff-card {
  display: grid;
  grid: "level level time time time" 1.5em
        "name name name name name" 3em
        "days days days days days" 3em
        "img img img img img" .75fr
        "desc desc desc desc desc" 1fr
        "price price price signup signup" 3.5em
        / 1fr 1fr 1fr 1fr 1fr;
  background-image: url('../images/cardbg-textured.png');
  background-size: 100% 100%;
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 40rem;
}
*/
.class-card {
  display: flex;
  flex-flow: column nowrap;
  width: 30em;
}
.class-card * {
  margin: 0px;
}

.class-card:hover {
  box-shadow: 5px 10px #ecb722;
}
.card-top {

}
.card-name {

}
.card-img {

}
.card
.class-card > h3:first-of-type {
  grid-area: name;
  text-align: center;
  font-size: xxx-large;
  font-weight: bold;
  color: #ecb722;
  max-height: 3em;
}

.class-card > p:first-of-type {
  grid-area: level;
  font-size: 1.25em;
  font-weight: bold;
  color: #ecb722;
  text-align: left;
  margin-left: .5em;
  max-height: 1.5em;
}

.class-card > p:nth-of-type(2) {
  grid-area: days;
  font-size: 1.5em;
  font-weight: bold;
  color: #ecb722;
  padding-top: .15em;
  max-height: 3em;
}

.class-card > p:nth-of-type(3) {
  grid-area: time;
  font-size: 1.25em;
  font-weight: bold;
  color: #ecb722;
  text-align: right;
  margin-right: .5em;
  max-height: 1.5em;
}
.class-card > .card-img {
  width: 97%;
  grid-area: img;
  border-radius: 10px;
  border-style: double;
  margin-bottom: .5em;
}
.class-card > img:first-of-type {
  clear: both;
  align-self: flex-start;
  justify-self: center;
  height: ;
}
.class-description {
  grid-area: desc;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.class-description p {
  margin: .5em 0px .5em;
  text-align: left;
}

.class-card > p:nth-of-type(4) {
  grid-area: price;
  align-self: center;
  font-size: x-large;
  font-weight: bold;
  color: #ecb722;
  justify-self: start;
  margin-left: .5em;
}

.class-card > a:last-of-type {
  grid-area: signup;
  align-self: center;
  background-color: #ecb722;
  margin-right: .5em;
  padding: .66em 0px;
  border-radius: 8px;
  text-decoration-line: none;
  color: white;
  font-family: "arial";
  font-weight: bold;
}

.description-text {
  background-image: url();
  background-color: lightgray;
  margin: 0px .5em 0px;
  padding: 0px .5em 0px;
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  font-size: 1em;
  border-style: double;
}

.tutoring-price-table {
  max-width: 100%;
  font-size: x-large;
  margin-top: 1em;
}


.class-card-top {

}

.class-card-middle {

}

.class-card-bottom {

}

.staff-card {

}

.staff-card-top {

}

.staff-card-middle {

}

.staff-card-bottom {

}

.prereqs {

}

.price {

}



.signup-button {

}

.actiities-list article .activity-card:nth-of-type(odd) {
  float: left;
}

.actiities-list article .activity-card:nth-of-type(even) {
  float: right;
}
